.sidebarContainer{
    width: 15%;
    background-color: #f0f0f0;
    height: 100%;
}
.menuItems{
    display: flex;
    flex-direction: column;
    height: 80%;
    box-shadow: 2px 0px 0px #acacac;
}

.buttonExit{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 0px #acacac;

}