
.navbarContainer {
    height: 8vh;
    display: flex;
    width: 100vw;
    background-color: #f0f0f0;
    
  }
  .logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .breadCrumb {
    width: 70%;
    box-shadow: 0px 2px 0px #acacac;

  }
  
  .iconsAndUser {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 0px #acacac;
  }
  
  
  