.buttonContainer {
    flex-direction: row;
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    justify-content: space-around   ;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #2d4c86;
    width: 10%;
    color: #ffff;
    border-radius: 5px;
}
.titleButton {
    justify-content: left;
    align-items: center;
    display: flex;
}
.icon {
    font-size: 1.2rem;
}

